#phonebook-table {
  height: auto;
  text-align: center;
}
/* Mobile Geräte */
@media (max-width: 768px) {
  #phonebook-table td,
  #phonebook-table th {
    word-wrap: break-word;
    max-width: 150px;
    font-size: 12px;
  }
  .dataTables_length {
    display: none;
  }
}
